<h1>webreader</h1>
<p><strong>Welcome, please sign in or sign up to begin!</strong></p>
<div class="user-action">
  <form class="user-action" action="/users/signin" method="get">
    <button type="submit">Sign In</button>
  </form>
  <form class="user-action" action="/users/signup" method="get">
    <button type="submit">Sign Up</button>
  </form>
</div>
