<section>
  <h2>webreader</h2>
  <p>Welcome, please sign in or sign up to begin!</p>
  <span class="actions">
    <a class="button" href="/users/signup">Sign Up</a>
    <a class="button" href="/users/signin">Sign In</a>
  </span>
</section>
