<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @page_title %></title>
    <link rel="stylesheet" href="/styles/whitespace-reset.css" type="text/css">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
  </head>
  <body>
    <header>
      <ul class="flash-messages">
        <% session[:messages].each do |message| %>
          <li>
            <p class="flash"><%= message %></p>
          </li>
        <% end %>
        <% session[:messages].clear %>
      </ul>

      <nav>
        <menu>
          <li>
            <a href="/library">Library</a>
          </li>
          <li>
            <a href="/library/new">Upload</a>
          </li>
          <% if signed_in? %>
            <li>
              <form class="user-action" action="/users/signout" method="post">
                <p class="user-status">
                  Signed in as:
                  <%= session[:user][:username] %>
                  <button type="submit">Sign Out</button>
                </p>
              </form>
            </li>
          <% end %>
        </menu>
      </nav>
    </header>
    <main id="content">
      <%== yield %>
    </main>
  </body>
</html>
