<div id="reader">
  <nav>
    <button id="page-left" type="button">&larr;</button>

    <select id="chapter-select" name="chapter">
      <option value="" selected>Select Chapter</option>
      <option value="1">Chapter 1</option>
      <option value="2">Chapter 2</option>
    </select>
    <button id="page-right" type="button">&rarr;</button>
    <button
      id="toggle-favorite"
      type="button"
      href="/users/<%= @username %>/bookshelf/<%= @id %>"
      data-favorite="<%= @favorite %>"
    ><%== @favorite ? "&#9829;" : "&#9825;" %></button>

  </nav>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script type="text/javascript" src="/javascripts/epub.min.js"></script>
<script type="text/javascript" src="/javascripts/reader.js">
</script>
