<div id="reader"></div>
<script>
  // Use the directory-style URL for epub.js to access the internal structure
  const url = "http://localhost:9292/library/<%= @id %>";

  const book = ePub(url, { openAs: "epub" });
  const rendition = book.renderTo('reader', {width: 600, height: 400});
  const displayed = rendition.display();
</script>
