<form action="/library/new" method="post" enctype="multipart/form-data">
  <label for="upload">Upload a document or image:</label>
  <div>
    <input type="file" id="upload" name="upload">
    <button type="submit">Upload</button>
  </div>
</form>

