* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  /*overflow: hidden;*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 1fr;
}

header {
  padding: 10px 0;
  height: 40px;
  color: white;
  background-color: rgb(70 70 70);
}

header menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

header menu a {
  color: white;
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
  margin: 20px;
}

#reader {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

#reader nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}

#reader nav button {
  padding: 2px 5px;
}

#reader nav select {
  padding: 3px 5px;
}

#reader .epub-container {
  /* epub.js container */
}
