* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1,
h2 {
  font-size: 18px;
}

body {
  width: 100vw;
  min-width: 250px;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 1fr;
}

header {
  padding: 10px 0;
  height: fit-content;
  color: white;
  background-color: rgb(70 70 70);
}

header menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

header menu a {
  color: white;
  text-decoration: none;
}

main {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 25px;
}

main section {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}

button,
.button {
  border: none;
  color: white;
  background-color: gray;
  padding: 3px 7px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
}

button:hover,
.button:hover {
  background-color: rgb(90 90 90);
}

/* flash message notifications */
.flash-messages {
  position: fixed;
  top: 30px;
  right: 20px;
}

.flash-message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  transition: opacity 1s;
}

/* sign-in / sign-up forms */
.user-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-form input {
  padding: 3px 8px;
  border: 1px solid gray;
  border-radius: 5px;
  min-width: 200px;
}

.user-form span {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.user-form span * {
  flex: 1;
}

/* library */
#library {
  width: 100%;
  padding: 10px;
  text-wrap: balance;
}

#library h3 {
  margin: 5px 0 0 0;
}

#library ul {
  margin: 5px 0 10px 0;
}

.book {
  margin: 0 0 5px 5px;
}

.book a {
  text-decoration: none;
}

/* reader */
#reader {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#reader nav {
  margin: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}

#reader nav button {
  padding: 2px 5px;
}

#reader nav select {
  flex: 1 1 30px;
  max-width: 350px;
  width: 150px;
  padding: 3px 5px;
  overflow: hidden;
}

#reader .epub-container {
  /* epub.js container */
  /*max-width: 100%;*/
  /*overflow: hidden;*/
}
